fastapi
uvicorn
python-dotenv
langchain
langgraph
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pydantic # For FastAPI models and tool schemas
python-dateutil
googleapiclient
pydantic_settings
langchain_core
typing
google
langchain_google_genai
datetime